.game {
    border: 2px solid lightcoral;
    padding: 10px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border-radius: 10px;    
}


@font-face {
    font-family: hand-right;
    src: url(../fonts/DancingScript-Regular.ttf);
}

@font-face {
    font-family: Mansalava;
    src: url(../fonts/Mansalva-Regular.ttf);
}


h1 {
    background-color: lightcoral;
    color: black;
    font-family: hand-right;
    font-weight: bold;
    text-align: center;
    padding:20px;
    margin-top: 0.5px;
}

h2{
    color:rgb(235, 78, 78);
    font-family: Mansalava;
    text-align: center;
    font-size: 20px;
}

.victory{
    font-size: 40px;
}

.opt{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border: black solid 2px; 
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    width: 600px;
    transition: 0.5s;
    margin: 20px auto;
   
}


.opt :hover {
    background-color:rgb(235, 78, 78);
}

button {
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(235, 78, 78);
    padding: 10px;
    display: none;
}


.img-container {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 9px 10px 11px -2px  rgb(235, 78, 78);
}

img {
    display: block;
    margin: auto;
    height: 300px;
    border-radius: 20px;
}